In [24]:
import pandas as pd
import numpy as np

activities = pd.read_csv("./../../data/activitats.csv", encoding='ISO-8859-1')
marks = pd.read_csv("./../../data/notes.csv", delimiter=';')
submision = pd.read_csv("./../../data/trameses.csv")

In [27]:
marks.head()

,userid,aula_id,P_Grade,P_Grade_Date,F_Grade,F_Grade_Date,R_Grade,R_Grade_Date
0,176,92,NaN,NaN,"9,25",1667829600,NaN,1675173600
1,179,92,NaN,NaN,"7,75",1667829600,NaN,1675173600
2,168,92,NaN,NaN,"7,75",1667829600,NaN,1675173600
3,401,92,NaN,NaN,"3,50",1667829600,"8,25",1675173600
4,482,92,NaN,NaN,"7,00",1667829600,NaN,1675173600

Academic Record

In [47]:
def Academic_Record(user_id):
    marks_user = marks[(marks["userid"] == user_id)]

    #Transforma los formatos de fecha UNIX
    marks_user.loc[:,'P_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'P_Grade_Date'], unit='s').dt.date
    marks_user.loc[:,'F_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'F_Grade_Date'], unit='s').dt.date
    marks_user.loc[:,'R_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'R_Grade_Date'], unit='s').dt.date

    #Obtiene la nota y fecha de convocatoria finales (se actualiza la nota final en caso de hacerse recuperacion)
    marks_user['Nota_Final'] = np.where(marks_user['R_Grade'].notna(), marks_user['R_Grade'], marks_user['F_Grade'])
    marks_user['Fecha_Final'] = np.where(marks_user['R_Grade'].notna(), marks_user['R_Grade_Date'], marks_user['F_Grade_Date'])

    #Filtra los campos finales
    marks_user_record = marks_user[["aula_id", "Nota_Final", "Fecha_Final"]]

    return marks_user_record

In [39]:
Academic_Record(155)

C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\2348586516.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[datetime.date(2022, 11, 7) datetime.date(2023, 11, 13)]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  marks_user.loc[:,'F_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'F_Grade_Date'], unit='s').dt.date
C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\2348586516.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[datetime.date(2023, 1, 31) datetime.date(2024, 1, 25)]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  marks_user.loc[:,'R_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'R_Grade_Date'], unit='s').dt.date
C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\2348586516.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marks_user['Nota_Final'] = np.where(marks_user['R_Grade'].notna(), marks_user['R_Grade'], marks_user['F_Grade'])
C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\2348586516.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marks_user['Fecha_Final'] = np.where(marks_user['R_Grade'].notna(), marks_user['R_Grade_Date'], marks_user['F_Grade_Date'])

     aula_id Nota_Final Fecha_Final
34        92       5,75  2022-11-07
352      143       8,65  2023-11-13

Datos asignatura y user id

In [45]:
def Academic_Record_Subject(user_id, aula_id):
    marks_user = marks[(marks["userid"] == user_id)]

    #Transforma los formatos de fecha UNIX
    marks_user.loc[:,'P_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'P_Grade_Date'], unit='s').dt.date
    marks_user.loc[:,'F_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'F_Grade_Date'], unit='s').dt.date
    marks_user.loc[:,'R_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'R_Grade_Date'], unit='s').dt.date

    return marks_user[marks["aula_id"] == aula_id]

In [48]:
Academic_Record_Subject(155, 92)

C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\2234939358.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '<DatetimeArray>
['NaT', 'NaT']
Length: 2, dtype: datetime64[ns]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  marks_user.loc[:,'P_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'P_Grade_Date'], unit='s').dt.date
C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\2234939358.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[datetime.date(2022, 11, 7) datetime.date(2023, 11, 13)]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  marks_user.loc[:,'F_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'F_Grade_Date'], unit='s').dt.date
C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\2234939358.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[datetime.date(2023, 1, 31) datetime.date(2024, 1, 25)]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  marks_user.loc[:,'R_Grade_Date'] = pd.to_datetime(marks_user.loc[:,'R_Grade_Date'], unit='s').dt.date
C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\2234939358.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return marks_user[marks["aula_id"] == aula_id]

,userid,aula_id,P_Grade,P_Grade_Date,F_Grade,F_Grade_Date,R_Grade,R_Grade_Date
34,155,92,NaN,NaT,"5,75",2022-11-07,NaN,2023-01-31

Tablas Trameses

In [101]:
import pandas as pd
import numpy as np


submissions =  pd.read_csv("./../../data/dataset.csv")
submissions = submissions[['userid', 'aula_id', 'activitat',"activitat_id", 'datesubmitted', 'attempt_number', 'mark']]
submissions

C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\2943485761.py:5: DtypeWarning: Columns (11,12,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  submissions =  pd.read_csv("./../../data/dataset.csv")

,userid,aula_id,activitat,activitat_id,datesubmitted,attempt_number,mark
0,176,92,Problema 1.1 - Hello world!!!,362.0,2022-09-13 20:21:49,1.0,1.0
1,176,92,Problema 1.2 - Hello world!!! ++,363.0,2022-09-13 20:41:13,4.0,1.0
2,176,92,Problema 3a.1: Càlcul edat,366.0,2022-09-16 07:18:17,1.0,1.0
3,176,92,Problema 3a.8: Conversió dòlars a euros,367.0,2022-09-16 07:29:53,1.0,1.0
4,176,92,Problema 3a.11: Mitjana de notes,368.0,2022-09-16 07:19:27,1.0,1.0
...,...,...,...,...,...,...,...
101283,2984,184,Problema 5.7: Centenes d'un nombre,3880.0,2024-10-20 12:40:25,1.0,1.0
101284,2984,184,Problema 5.13: Sèrie de Fibonacci,3882.0,2024-10-20 12:49:00,2.0,1.0
101285,2984,184,Problema 5.3: Alerta,3887.0,2024-10-20 13:03:58,1.0,1.0
101286,2984,184,Problema 5.4: Temps d'execució,3890.0,2024-10-21 06:26:41,1.0,0.0
101287,2984,184,Problema 5.30: Suma de llistes,3891.0,2024-10-21 06:30:46,2.0,1.0

In [96]:
dataset["userid"].value_counts()

userid
779     275
1668    267
1927    252
168     246
870     246
       ...
2636      2
1307      2
2034      1
2561      1
2244      1
Name: count, Length: 993, dtype: int64

In [100]:
submissions['datesubmitted'] = pd.to_datetime(submissions['datesubmitted']).dt.date
submissions

,userid,aula_id,activitat,activitat_id,datesubmitted,attempt_number,mark
0,176,92,Problema 1.1 - Hello world!!!,362.0,2022-09-13,1.0,1.00
1,176,92,Problema 1.2 - Hello world!!! ++,363.0,2022-09-13,4.0,1.00
2,176,92,Problema 3a.1: Càlcul edat,366.0,2022-09-16,1.0,1.00
3,176,92,Problema 3a.8: Conversió dòlars a euros,367.0,2022-09-16,1.0,1.00
4,176,92,Problema 3a.11: Mitjana de notes,368.0,2022-09-16,1.0,1.00
...,...,...,...,...,...,...,...
101283,2984,184,Problema 5.7: Centenes d'un nombre,3880.0,2024-10-20,1.0,1.00
101284,2984,184,Problema 5.13: Sèrie de Fibonacci,3882.0,2024-10-20,2.0,1.00
101285,2984,184,Problema 5.3: Alerta,3887.0,2024-10-20,1.0,1.00
101286,2984,184,Problema 5.4: Temps d'execució,3890.0,2024-10-21,1.0,-0.01
101287,2984,184,Problema 5.30: Suma de llistes,3891.0,2024-10-21,2.0,1.00

In [72]:
submissions["mark"].value_counts()

mark
 1.000000    90442
 0.000000     3968
-0.010000     1292
-1.000000     1127
 0.500000      681
             ...
 0.283333        1
 0.350000        1
 0.083333        1
 0.520000        1
 0.454500        1
Name: count, Length: 88, dtype: int64

In [75]:
submision

,id,activitat_id,userid,datesubmitted,grader,dategraded,grade,nevaluations,attempt_number
283,480,362,21,1663008882,0.0,1.663009e+09,100.0,1,1
326,540,363,21,1663009786,0.0,1.663010e+09,100.0,4,4
1945,2674,366,21,1663165314,0.0,1.663165e+09,100.0,1,1
1965,2696,367,21,1663166509,0.0,1.663167e+09,100.0,3,6
2366,3858,368,21,1663249532,0.0,1.663250e+09,100.0,3,3
...,...,...,...,...,...,...,...,...,...
545075,1228458,3530,3008,1729519096,0.0,1.729519e+09,100.0,7,7
545147,1228561,3531,3008,1729519528,0.0,1.729520e+09,100.0,2,2
545369,1228965,3532,3008,1729521047,0.0,1.729521e+09,100.0,5,4
530401,1198797,3565,3008,1729114292,0.0,1.729114e+09,80.0,11,14
533869,1208086,3568,3008,1729197711,0.0,1.729198e+09,10.0,15,15

In [87]:
submision[submision["userid"] == 2984][submision["activitat_id"] == 3890]

C:\Users\Aleix\AppData\Local\Temp\ipykernel_8884\3394572058.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  submision[submision["userid"] == 2984][submision["activitat_id"] == 3890]

,id,activitat_id,userid,datesubmitted,grader,dategraded,grade,nevaluations,attempt_number
541775,1223776,3890,2984,1729492001,0.0,0.0,-1.0,1,1

In [90]:
submision["grade"].value_counts()

grade
 100.00    90540
 0.00       4021
-1.00       2644
 1.00        825
 99.00       570
           ...
 76.00         1
 45.45         1
 1.05          1
 0.66          1
 43.00         1
Name: count, Length: 113, dtype: int64